*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    
}

.main {position:fixed;
    /*background: linear-gradient(0deg, #7F7FD5, #86A8E7,#91EAE4);*/
    background:red;
    font-family: "Open Sans", sans-serif;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
    
}





li {
    list-style-type: none;
}
ul {
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
#block__utm_source {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}   
.block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.block-item {
    border: 1px solid #030d11;
    margin:5px;
    padding:5px;
    
    
}
#result__link-input {
    width:425px;
    height:50px;
}

